@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  height: 100vh;
  width: 100%;
  background-color: grey;
}

.wrapper{
  margin: 120px auto;
  max-width: 480px;
  width: 100%;
  border-radius: 5px;
  padding: 25px;
  background-color: #fff;
}

.wrapper .header{
  font-size: 30px;
  font-weight: 600;
}

.wrapper .inputField{
  display: flex;
  height: 45px;
  width: 100%;
  margin: 20px 0;
}

.inputField input {
  width: 85%;
  height: 100%;
  border: 1px solid grey;
  font-size: 17px;
  border-radius: 3px;
  padding-left: 15px;
}

.inputField button{
  width:60px;
  height: 100%;
  border: none;
  outline: none;
  background: #2874A6;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  margin-left: 5px;
  border-radius: 3px;
  opacity: 0.5;
  pointer-events: none;
}
.inputField button.active{
  opacity: 1;
  pointer-events: auto;
}
.wrapper .todoList{
  max-height: 250px;
  overflow-y: auto;
}

.todoList li{
  list-style: none;
  height: 45px;
  line-height: 45px;
  position: relative;
  background: #f2f2f2;
  border-radius: 3px;
  margin-bottom: 8px;
  padding: 0 15px;
  cursor: default;
  overflow: hidden;
}

.todoList li .deleteTask{
  position: absolute;
  right: -90px;
  background: #E74C3C;
  width: 45px;
  color: #fff;
  text-align: center;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.todoList li:hover span
{
  right: 0;
}

.todoList li .toggleTask{
  position: absolute;
  right: -45px;
  background: #28B463 ;
  width: 45px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
.todoList li:hover .toggleTask{
  right: 50px;
}

.wrapper .footer{
  display: flex;
  width: 100%;
  margin-top: 25px;
  justify-content: space-between;
  align-items: center;
}

.footer button {
  border: none;
  outline: none;
  background: #2874A6;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-left: 5px;
  border-radius: 3px;
  padding: 6px 10px;
  opacity: 0.5;
  pointer-events: none;
}
.footer button.active{
  opacity: 1;
  pointer-events: auto;
}